<h1>Bonjour,</h1>
<h3>
    Bienvenue sur {{ name_site }}
</h3>
<p>
    Merci de confirmer votre adresse E-Mail pour activer votre compte en cliquant sur le lien suivant :
    <br><br>
    <a href="{{ signedUrl }}">Activer mon compte</a>.
    Ce lien expite dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    L'équipe MonStage.App
</p>
