{% extends 'base.html.twig' %}

{% block title %}Créer son compte - {{ name_site }}{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h3 class="row justify-content-center p-2">Votre compte a été créé, vous devez valider votre adresse E-Mail</h3>

    <div class="row justify-content-around">
        <div class="col-12 col-md-6 align-self-center">
            <img src="{{ asset('./assets/img/register-send-img.jpg') }}" class="img-fluid title-image"
                 alt="Un E-Mail vous attend pour valider votre compte">
        </div>
        <div class="col-12 col-md-6 align-self-center">

            <p>Afin de vérifier votre adresse E-Mail et activer votre compte, vous allez recevoir, prochaînement, dans
                votre boîte mail, un E-Mail de confirmation contenant un lien de validation.
            </p>
            <p>Vérifiez qu’il ne soit pas arrivé dans vos courriers indésirables.</p>
            <p>Si vous ne recevez pas l’E-mail de confirmation :</p>
            <div class="row justify-content-center">
                <a href="" class="btn btn-success col-5">Nous contacter</a>
            </div>
        </div>
    </div>
{% endblock %}
