{% extends 'base.html.twig' %}

{% block title %}MonStage.APP{% endblock %}

{% block body %}

    <div class="row">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash }}
            </div>
        {% endfor %}
    </div>
    <form action="">
        <textarea class="textareamce"></textarea>
    </form>

    <div>{{ render_chart(chart) }}</div>
{% endblock %}
