{% extends 'base.html.twig' %}

{% block title %}MonStage.APP{% endblock %}

{% block body %}

    <form action="">
        <textarea class="textareamce"></textarea>
    </form>

    <div>{{ render_chart(chart) }}</div>
{% endblock %}
