{% extends 'base.html.twig' %}

{% block title %}Mentions Légales {{ name_site }}{% endblock %}

{% block body %}

    <h2 class="row justify-content-center p-2">Mentions Légales</h2>

    <h3>Le site Internet</h3>
    <p class="legal titlelegal">Site édité par :</p>
    <p class="legal">M. Cédric PRUD’HOMME</p>
    <p class="legal">4 Boulevard des Platanes</p>
    <p class="legal">APPT 35</p>
    <p class="legal">31400 TOULOUSE</p>



    <p><span class="titlelegal">Directeur de la publication / Responsable technique</span> : M. Cédric PRUD’HOMME</p>

    <p><span class="titlelegal">Hébergement</span> : O2Switch, 222-224 Boulevard Gustave Flaubert, 63000
        Clermont-Ferrand</p>

    <h3>Responsabilité</h3>
    <p>Les liens hypertextes mis en œuvre en direction d’autres sites ne sauraient engager la responsabilité de M.
        Cédric PRUD’HOMME, celle ci n’exerçant aucun contrôle sur le contenu de ces sites. M. Cédric PRUD’HOMME met tout
        en œuvre pour offrir aux internautes des outils disponibles et des informations fiables. Toutefois, M. Cédric
        PRUD’HOMME ne saurait garantir aux internautes l’exactitude, la complétude et l’actualité des informations
        fournies ainsi que la disponibilité de ces outils. En conséquence, la responsabilité de M. Cédric PRUD’HOMME ne
        pourra être engagée du fait de l’utilisation des informations fournies et/ou des outils mis à disposition sur ce
        site.</p>

    <h3>Avertissement</h3>
    <p>Les marques citées restent la propriété de leurs auteurs respectifs. Si vous êtes le propriétaire d’une marque
        citée sur notre site et que vous vous y opposez n’hésitez pas à nous contacter.</p>

    <h3>Données personnelles</h3>
    <p>Conformément à la loi du 6 janvier 1978, relative à l’informatique, aux fichiers et aux libertés, vous disposez
        d’un droit d’accès, de modification, de rectification et de suppression, pour toute information vous concernant
        en vous adressant à :</p>
    <p class="legal">Monsieur Cédric PRUD’HOMME</p>
    <p class="legal">4 Boulevard des Platanes</p>
    <p class="legal">APPT 35</p>
    <p class="legal">31400 TOULOUSE</p>



{% endblock %}
