{% extends 'base.html.twig' %}

{% block title %}Conditions d'Utilisation du Service - {{ name_site }} {% endblock %}

{% block body %}

    <h2 class="row justify-content-center p-2">Conditions d'Utilisation du Service</h2>

    <h3>Article 1</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum ipsam natus obcaecati quas sed temporibus,
        voluptatum? Adipisci aperiam ea, est fuga incidunt iste laudantium magnam molestias nisi perspiciatis quidem quo
        rem reprehenderit similique voluptates!</p>

    <h3>Article 2</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum ipsam natus obcaecati quas sed temporibus,
        voluptatum? Adipisci aperiam ea, est fuga incidunt iste laudantium magnam molestias nisi perspiciatis quidem quo
        rem reprehenderit similique voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum ipsam natus obcaecati quas sed temporibus,
        voluptatum? Adipisci aperiam ea, est fuga incidunt iste laudantium magnam molestias nisi perspiciatis quidem quo
        rem reprehenderit similique voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque earum ipsam natus obcaecati quas sed temporibus,
        voluptatum? Adipisci aperiam ea, est fuga incidunt iste laudantium magnam molestias nisi perspiciatis quidem quo
        rem reprehenderit similique voluptates!</p>

    <h3>Article 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, cum cumque doloremque dolorum ducimus,
        earum eius eligendi enim eos eveniet expedita id inventore iste laborum maxime natus neque obcaecati placeat,
        provident quaerat quisquam recusandae reiciendis repellat vitae voluptatibus voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto assumenda atque distinctio
        eius expedita facere id illo perferendis! Accusantium aspernatur earum excepturi perferendis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, beatae dolorem ea, eligendi fugiat, iste itaque
        laboriosam laborum modi nam natus nemo quam suscipit veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur corporis dolorem et exercitationem
        explicabo molestiae, quam! Aspernatur, aut cumque earum excepturi minima molestiae voluptates?</p>
    <h3>Article 4</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, cum cumque doloremque dolorum ducimus,
        earum eius eligendi enim eos eveniet expedita id inventore iste laborum maxime natus neque obcaecati placeat,
        provident quaerat quisquam recusandae reiciendis repellat vitae voluptatibus voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto assumenda atque distinctio
        eius expedita facere id illo perferendis! Accusantium aspernatur earum excepturi perferendis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, beatae dolorem ea, eligendi fugiat, iste itaque
        laboriosam laborum modi nam natus nemo quam suscipit veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur corporis dolorem et exercitationem
        explicabo molestiae, quam! Aspernatur, aut cumque earum excepturi minima molestiae voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, cum cumque doloremque dolorum ducimus,
        earum eius eligendi enim eos eveniet expedita id inventore iste laborum maxime natus neque obcaecati placeat,
        provident quaerat quisquam recusandae reiciendis repellat vitae voluptatibus voluptatum!</p>



{% endblock %}
