{% extends 'base.html.twig' %}

{% block title %}Conditions d'Utilisation du Service - {{ name_site }} {% endblock %}

{% block body %}

    <h2 class="row justify-content-center p-2">Conditions d'Utilisation du Service</h2>

    <h3>Préambule</h3>
    <p>Les présentes conditions générales d’utilisation s'appliquent à tous les utilisateurs du site MonStage.App.</p>
    <p>Le site Internet https://www.monstage.app.com est un service de :</p>
    <ul>
        <li>L'entreprise individuelle Cédric PRUD'HOMME / Prud'homme Editions</li>
        <li>située 4 Boulevard des Platanes 31400 TOULOUSE, FRANCE</li>
        <li>adresse URL du site : https://www.MonStage.App.com</li>
        <li>e-mail : <a href="{{ path('app_contactus') }}">Formulaire sur le site</a></li>
    </ul>
    <p>Le site Internet MonStage.App propose un service de gestion de vos candidatures pour vos recherches de stages</p>
    <p>L’utilisateur déclare avoir pris connaissance et avoir accepté les conditions générales d’utilisation
        antérieurement à l'inscription au service. La validation de la commande vaut donc acceptation des conditions
        générales d’utilisation.</p>
    <h3>Article 1 - Principes</h3>
    <p>Les présentes conditions générales expriment l'intégralité des obligations des parties. En ce sens, l’utilisateur
        est
        réputé les accepter sans réserve.</p>
    <p>Elles sont accessibles sur le site internet MonStage.App et prévaudront, le cas échéant, sur toute autre version
        ou
        tout autre document contradictoire.</p>
    <p>Le responsable du site et l’utilisateur conviennent que les présentes conditions générales régissent
        exclusivement
        leur relation. Le responsable du site se réserve le droit de modifier ponctuellement ses conditions générales.
        Elles
        seront applicables dès leur mise en ligne.</p>
    <p>Si une condition d’utilisation venait à faire défaut, elle serait considérée être régie par les usages en vigueur
        dans le secteur de la vente à distance dont les sociétés ont leur siège en France.</p>
    <p>Les présentes conditions générales d’utilisation sont valables sans limite de temps.</p>
    <h3>Article 2 - Contenu</h3>
    <p>Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre
        de
        l’utilisation du service proposé parle responsable du site à l’utilisateur, à partir du site internet
        MonStage.App.</p>
    <h3>Article 3 - Prix</h3>
    <p>L’utilisation du service est gratuit.</p>
    <p>Le responsable du site se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les
        tarifs en
        vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.</p>

    <h3>Article 4 – Responsabilité</h3>
    <p>Bien que les informations publiées sur le site soient réputées fiables, le site se réserve la faculté d’une
        non-garantie de la fiabilité des sources.</p>
    <p>Les informations diffusées sur le site sont présentées à titre purement informatif et sont sans valeur
        contractuelle.
        En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des
        dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour
        l’utilisation
        et l’interprétation des informations communiquées sur la plateforme.</p>
    <p>Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de
        l’Utilisateur après l’utilisation ou l’accès à ce site.</p>
    <p>Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un
        tiers.</p>
    <p>La garantie totale de la sécurité et la confidentialité des données n’est pas assurée par le site. Cependant, le
        site
        s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux.</p>
    <h3>Article 5 – Liens hypertextes</h3>
    <p>Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la
        plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web
        relatives à ces liens.</p>
    <h3>Article 6 – Publication par l’utilisateur</h3>
    <p>Le site permet aux membres de publier des données d’entreprises, de contacts ainsi que d’envoyer des E-Mails
        en leur nom.</p>
    <p>Dans ses publications, l’utilisateur est tenu de respecter les règles de droit en vigueur.
    <p>Le site dispose du droit d’exercer une modération à priori sur les publications et peut refuser leur mise en
        ligne sans avoir à fournir de justification.</p>
    <p>L’utilisateur garde l’intégralité de ses droits de propriété intellectuelle. Toutefois, toute publication
        sur le site implique la délégation du droit non exclusif et gratuit à la société éditrice de représenter,
        reproduire, modifier, adapter, distribuer et diffuser la publication n’importe où et sur n’importe quel support
        pour la durée de la propriété intellectuelle. Cela peut se faire directement ou par l’intermédiaire d’un tiers
        autorisé. Cela concerne notamment le droit d’utilisation de la publication sur le web et sur les réseaux de
        téléphonie mobile.</p>
    <p>L’utilisateur est tenu responsable de tout contenu qu’il met en ligne. L’Utilisateur s’engage à ne pas
        publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures
        engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur.</p>
    <h3>Article 7 - Force majeure</h3>
    <p>Toutes circonstances indépendantes de la volonté des parties empêchant l'exécution dans des conditions
        normales de leurs obligations sont considérées comme des causes d'exonération des obligations des parties et
        entraînent leur suspension.</p>
    <p>La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur
        survenance, ainsi que de leur disparition.</p>
    <p>Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux
        parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés
        par ces dernières, malgré tous les efforts raisonnablement possibles. De façon expresse, sont considérés
        comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours
        et des tribunaux français : le blocage des moyens de transports ou d'approvisionnements, tremblements de
        terre, incendies, tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés
        propres aux réseaux de télécommunication externes aux clients.</p>
    <p>Les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans
        lesquelles l'exécution du contrat sera poursuivie. Si le cas de force majeure a une durée supérieure à trois
        mois, les présentes conditions générales pourront être résiliées par la partie lésée.</p>
    <h3>Article 8 - Propriété intellectuelle</h3>
    <p>Le contenu du site internet reste la propriété de l’éditeur du site, seul titulaire des droits de propriété
        intellectuelle sur ce contenu.</p>
    <p>Les utilisateurs s'engagent à ne faire aucun usage de ce contenu ; toute reproduction totale ou partielle de
        ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.</p>
    <h3>Article 9 - Informatiques et Libertés</h3>
    <p>Les données nominatives fournies par l’utilisateur sont nécessaires aux différents traitements dédiés à
        l’utilisation du site Internet.</p>
    <p>L’utilisateur dispose d'un droit d'accès permanent, de modification, de rectification et d'opposition
        s'agissant des informations le concernant. Ce droit peut être exercé dans les conditions et selon les modalités
        définies sur le site MonStage.App.</p>
    <h3>Article 10 - Non-validation partielle</h3>
    <p>Si une ou plusieurs stipulations des présentes conditions générales sont tenues pour non valides ou déclarées
        telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction
        compétente, les autres stipulations garderont toute leur force et leur portée.</p>
    <h3>Article 11 - Non-renonciation</h3>
    <p>Le fait pour l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une quelconque
        des obligations visées dans les présentes conditions générales ne saurait être interprété pour l'avenir
        comme une renonciation à l'obligation en cause.</p>
    <h3>Article 12 - Titre</h3>
    <p>En cas de difficulté d'interprétation entre l'un quelconque des titres figurant en tête des clauses, et l'une
        quelconque des clauses, les titres seront déclarés inexistants.</p>
    <h3>Article 13 - Langue du contrat</h3>
    <p>Les présentes conditions générales d’utilisation sont rédigées en langue française. Dans le cas où elles
        seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de
        litige.</p>
    <h3>Article 14 - Médiation et règlement des litiges</h3>
    <p>L’utilisateur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la
        médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode
        alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.</p>
    <p>Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une
        plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie
        extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne. Cette
        plateforme est accessible au lien suivant : https://webgate.ec.europa.eu/odr/.</p>
    <h3>Article 15 - Loi applicable</h3>
    <p>Les présentes conditions générales sont soumises à l'application du droit français. Le tribunal compétent
        est le tribunal judiciaire.</p>
    <p>Il en est ainsi pour les règles de fond comme pour les règles de forme. En cas de litige ou de
        réclamation, l’utilisateur s'adressera en priorité à l’éditeur du sitepour obtenir une solution amiable.</p>
    <h3>Article 16 - Protection des données personnelles</h3>
    <p>Données collectées</p>
    <p>Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :</p>
    <ul>
        <li>ouverture de compte : lors de la création du compte de l'utilisateur, ses nom ; prénom ; adresse
            électronique ; n° de téléphone ; adresse postale ; Adresse IP
        </li>
        <li>connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses
            nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement ;
        </li>
        <li>profil : l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant
            comprendre une adresse et un numéro de téléphone ;
        </li>
        <li>communication : lorsque le site web est utilisé pour communiquer avec d'autres membres, les données
            concernant les communications de l'utilisateur font l'objet d'une conservation temporaire ;
        </li>
        <li>cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la
            possibilité de désactiver les cookies à partir des paramètres de son navigateur.
        </li>
    </ul>
    <p>Utilisation des données personnelles</p>
    <p>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des
        services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément,
        les utilisations sont les suivantes :</p>
    <ul>
        <li>accès et utilisation du site web par l'utilisateur ;</li>
        <li>gestion du fonctionnement et optimisation du site web ;</li>
        <li>organisation des conditions d'utilisation des Services de paiement ;</li>
        <li>vérification, identification et authentification des données transmises par l'utilisateur ;</li>
        <li>proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ;
        </li>
        <li>mise en oeuvre d'une assistance utilisateurs ;</li>
        <li>personnalisation des services en affichant des publicités en fonction de l'historique de navigation de
            l'utilisateur, selon ses préférences ;
        </li>
        <li>prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et
            gestion des incidents de sécurité ;
        </li>
        <li>gestion des éventuels litiges avec les utilisateurs ;</li>
        <li>envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.</li>
    </ul>
    <p>Partage des données personnelles avec des tiers</p>
    <p>Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :</p>
    <ul>
        <li>lorsque l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le
            site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé
            des contrats ;
        </li>
        <li>lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations
            accessibles au public ;
        </li>
        <li>lorsque l'utilisateur autorise le site web d'un tiers à accéder à ses données ;</li>
        <li>lorsque le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la
            publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de
            l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de
            les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection
            des données à caractère personnel ;
        </li>
        <li>si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux
            réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires
            ;
        </li>
        <li>si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure
            de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y
            compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que
            les données à caractère personnel ne soient transférées à une tierce partie.
        </li>
    </ul>

    <p>Sécurité et confidentialité</p>
    <p>Le site web met en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière
        de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et
        accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement
        sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des
        informations sur internet.</p>

    <p>Mise en œuvre des droits des utilisateurs</p>
    <p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs
        disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante :
        {{ path('app_contactus') }}.</p>
    <ul>
        <li>le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les
            concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de
            l'identité de l'utilisateur afin d'en vérifier l'exactitude.
        </li>
        <li>le droit de rectification : si les données à caractère personnel détenues par le site web sont
            inexactes, ils peuvent demander la mise à jour des informations.
        </li>
        <li>le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs
            données à caractère personnel, conformément aux lois applicables en matière de protection des données.
        </li>
        <li>le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter
            le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.
        </li>
        <li>le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses
            données soient traitées conformément aux hypothèses prévues par le RGPD.
        </li>
        <li>le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles
            qui lui sont fournies pour les transmettre à un nouveau site web.
        </li>
    </ul>
    <p>Evolution de la présente clause</p>
    <p>Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la
        protection des données à caractère personnel à tout moment. Si une modification est apportée à la
        présente clause de protection des données à caractère personnel, le site web s'engage à publier la
        nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par
        messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est
        pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère
        personnel, il a la possibilité de supprimer son compte.</p>


{% endblock %}
